*{
  font-family: 'Raleway', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
 
.center{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
  /* pagina principal */
.container-img{
  height: 100vh;
  background: linear-gradient( #F8A05A 50%, #E69884) ;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
  
.title-index{
  font-family: 'Bungee', cursive;
  font-size: 65px;    
}

.container-img .fa-cutlery{
  font-size: 60px;
  color: #227DA7;
}

.center{
  text-align: center;
}

#map {
  height: 350px;
  margin-bottom: 15px;
}

/* ventana restaurantes */

.container-big{
  height: 100vh;
  background: linear-gradient( #79D0E2, #7494DD ) ;
}

.title-restaurant{
  font-family: 'Bungee', cursive;
  display: inline-block;
  color: #32927C;
}

.container-big .fa-cutlery{
  font-size: 30px;
  margin-right: 10px;
  color: #32927C;
}

.button-search{
  background-color:#F47820;
  color: #fff;
  font-weight: 700;
  margin-top: 15px;
  letter-spacing: 1.5px;
}

.block{
  display: block;
}

.none{
  display: none;
}

/* estilos ventana chosen */
.container-res{
  height: 180px;
  margin-bottom: 30px;
  margin-top: 10px;
  padding: 20px;
  font-size: 25px;
  cursor: pointer;
  color: #FFDA22 ;
  font-weight: 900;
}

.p-dist{
  background: #0F9AEF ;
  border-radius: 5px;
  padding-left: 10px;
}

.img-1{
  background-image: url(../assets/images/restaurant1.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.img-2{
  background-image: url(../assets/images/restaurant2.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.images-plates{
  height: 140px;
  width: 80%;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  margin-bottom: 15px;
  margin-left: 30px;
}

.Alt-olluquito{
  background-image: url(../assets/images/olluquito.png);
}

.Alt-lomo{
  background-image: url(../assets/images/lomo.png);
}

.Alt-aji{
  background-image: url(../assets/images/aji.png);
}

.Asia-arroz{
  background-image: url(../assets/images/arroz-pollo.jpeg);
}

.Asia-carapulcra{
  background-image: url(../assets/images/carapulcra.jpeg);
}

.Asia-tacu{
  background-image: url(../assets/images/tacu.png);
}

.Chimbotano-pachamanca{
  background-image: url(../assets/images/pachamanca.png);
}

.Chimbotano-seco{
  background-image: url(../assets/images/seco.png);
}

.Chimbotano-rocoto{
  background-image: url(../assets/images/rocoto-relleno.png);
}

.Katori-chupe{
  background-image: url(../assets/images/chupe.png);
}

.Katori-pollo{
  background-image: url(../assets/images/pollo-brsa.png);
}

.Katori-causa{
  background-image: url(../assets/images/causa.png);
}

.Conquis-ceviche{
  background-image: url(../assets/images/ceviche.png);
}

.Conquis-anticucho{
  background-image: url(../assets/images/anticucho.png);
}

.Conquis-papa{
  background-image: url(../assets/images/papa-huanca.png);
}

.Mochica-cuy{
  background-image: url(../assets/images/cuy.png);
}

.Mochica-cau{
  background-image: url(../assets/images/cau-cau.png);
}

.Mochica-tacacho{
  background-image: url(../assets/images/tacacho.jpeg);
}

.red{
  filter: grayscale(70%);
}

/* estilos para los nombres de los platos */
.name-plate{
  text-align: center;
  color:white;
  font-size: 20px;
  font-weight: 900;
  letter-spacing: 2px;
  text-shadow: -2px -2px 1px #000, 2px 2px 1px #000, -2px 2px 1px #000, 2px -2px 1px #000;
  padding-top: 20px;
}

/* modales */
.text-align{
  text-align: center;
}

.italic{
  font-weight: 600;
  font-style: italic;
  color: #23C0A4 ;
}

.style-title{
  color: #2DA6CB;
  font-weight: 500;
}

.p-bold{
  font-weight: 500;
  font-size: 16px;
  color:#647759 ;
}

.button-now{
  margin-top: 20px;
  position: relative;
  left:50%;
  transform: translateX(-50%);
  background-color: #F9A51B;
  color: #000;
  font-weight: 500;
}

.style-subtitle{
  font-size: 18px;
  font-weight: 500;
  color:#241539;
}