*{
  font-family: 'Raleway', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

  /* pagina principal */
.container-img{
  height: 100vh;
  background: linear-gradient( #F8A05A 50%, #E69884) ;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
  
.title-index{
  font-family: 'Bungee', cursive;
  font-size: 65px;    
}

.container-img .fa-cutlery{
  font-size: 60px;
  color: #227DA7;
}

.center{
  text-align: center;
}

#map {
  height: 350px;
  margin-bottom: 15px;
}

/* ventana restaurantes */

.container-big{
  height: 100vh;
  background: linear-gradient( #79D0E2, #7494DD ) ;
}

.title-restaurant{
  font-family: 'Bungee', cursive;
  display: inline-block;
  color: #32927C;
}

.container-big .fa-cutlery{
  font-size: 30px;
  margin-right: 10px;
  color: #32927C;
}

.button-search{
  background-color:#F47820;
  color: #fff;
  font-weight: 700;
  margin-top: 15px;
  letter-spacing: 1.5px;
}