*{
  font-family: 'Raleway', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
 
center{
  display: flex;
  justify-content: center;
}
  /* pagina principal */
.container-img{
  height: 100vh;
  background: linear-gradient( #F8A05A 50%, #E69884) ;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
  
.title-index{
  font-family: 'Bungee', cursive;
  font-size: 65px;    
}

.container-img .fa-cutlery{
  font-size: 60px;
  color: #227DA7;
}

.center{
  text-align: center;
}

#map {
  height: 350px;
  margin-bottom: 15px;
}

/* ventana restaurantes */

.container-big{
  height: 100vh;
  background: linear-gradient( #79D0E2, #7494DD ) ;
}

.title-restaurant{
  font-family: 'Bungee', cursive;
  display: inline-block;
  color: #32927C;
}

.container-big .fa-cutlery{
  font-size: 30px;
  margin-right: 10px;
  color: #32927C;
}

.button-search{
  background-color:#F47820;
  color: #fff;
  font-weight: 700;
  margin-top: 15px;
  letter-spacing: 1.5px;
}

.block{
  display: block;
}

.none{
  display: none;
}

/* estilos ventana chosen */
.container-res{
  height: 180px;
  margin-bottom: 30px;
  margin-top: 10px;
  padding: 20px;
  font-size: 25px;
  cursor: pointer;
  color: #FFDA22 ;
  font-weight: 900;
}

.p-dist{
  background: #0F9AEF ;
  border-radius: 5px;
  padding-left: 10px;
}

.img-1{
  background-image: url(../assets/images/restaurant1.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.img-2{
  background-image: url(../assets/images/restaurant2.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.images-plates{
  height: 140px;
  width: 80%;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  margin-bottom: 10px;
}

.Alt-olluquito{
  background-image: url(../assets/images/olluquito.png);
  /* height: 140px;
  width: 80%;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  margin-bottom: 10px; */
}

.Alt-lomo{
  background-image: url(../assets/images/lomo.png);
  /* height: 140px;
  width: 80%;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  margin-bottom: 10px; */
}

.Alt-aji{
  background-image: url(../assets/images/aji.png);
  /* height: 140px;
  width: 80%;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  margin-bottom: 10px; */
}


